h1{
    
    text-align: center;
    margin-right: 5rem;
    color: #E751A1;
}


h2{
    margin: auto;
}
body {
    font-family: Calibri;
    background-color: white;
    color: black;
}
button{
    background: black; 
    color: white;   
}
.dark-mode {
    background-color: black;
    color: white;
}
.dark-mode button{
    background: white; 
    color: black;    
}

.modeButton{
    float: right;
    margin-right: 0rem;
}
.resetButton{
    float: right;
    margin-right: 1rem;
}
.quoteButton{
    background: #E751A1;
    color: black;
}
.row{
    border-radius: 20px;
    display: flex;
    flex-flow: inline;
    background: #E751A1;
    width: 40rem;
    height: 15rem;
    margin: auto;   
    margin-bottom: 2rem;
    margin-top: 1rem;    
}

.collumnEnd{
    text-align: center;
    display: flex;
    flex-flow: column;
    width: 7rem;
    margin: 1rem;
    margin-left: auto;
    position: fixed;
    right: 5rem;
    top: 10rem;
    
}
.collumn{
    display: flex;
    flex-flow: column;
    margin: auto;
    margin-top: 0.5rem;

}
.collumnBig{
    display: flex;
    flex-flow: column;

}
.dark-mode .quoteValue{
    border: 2px solid white;
}
.quoteValue{
    border: 2px solid rgb(0, 0, 0);
    padding: 0rem;
    border-radius: 5px;
    margin-top: 6rem;
}
.dark-mode .sidebar a{
    color: #ffffff;
}

.sidebar {
    position: fixed; 
    top: 8rem; 
    left: 0rem; 
    width: 8rem;
    height: 100%; 
    background-color: #f2f2f200;
    overflow-y: auto; 
  }
  .sidebar a {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    color: #333; /* Link color */
  }
  .dark-mode .sidebar a:hover{
    color: #000000;
  }
  
  .sidebar a:hover {
    background-color: #ddd; /* Background color on hover */
  }
  
  .sidebar a.active {
    position: relative;
    background-color: #ddd; 
    color: rgb(0, 0, 0);
  }
  
  .sidebar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0.25rem; 
    height: 100%;
    background-color: black;
  }