h1{
    font-family: Calibri;
    color: pink;
    text-align: center;
}
body {
  
    background-color: white;
    color: black;
}
button{
    background: black; 
    color: white;   
}
.dark-mode {
    background-color: black;
    color: white;
}
.dark-mode button{
    background: white; 
    color: black;    
}

.modeButton{
    float: right;
    margin-right: 20px;
}
.resetButton{
    float: right;
    margin-right: 20px;
}
.quoteButton{
    margin-top: 40px;
    background-color: pink;
    color: black;
}
.collumn{
    display: flex;
    flex-flow: column;
    width: 100px;
    height: 500px;
    margin: 20px;
    
}
.firstRow{
    display: flex;
    flex-flow: inline;

}